<div
  class="bg-gradient-to-r from-indigo-800 to-indigo-700 dark:from-gray-800 dark:to-gray-700"
>
  <div
    class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between"
  >
    <h2
      class="text-4xl font-extrabold tracking-tight text-white dark:text-gray-200 sm:text-4xl"
    >
      <span class="block">Ready to get started?</span>
      <span class="block text-indigo-400">It's free!</span>
    </h2>
    <div class="mt-6 sm:mt-0 flex space-x-3">
      <a
        href="/create/"
        class="inline-flex items-center justify-center border border-transparent font-medium rounded-md shadow-sm text-indigo-800 bg-indigo-50 hover:bg-indigo-100 w-full sm:w-auto px-4 py-3 text-base"
      >
        <span class="relative flex items-center justify-center">
          <span class="flex items-center">
            <span>Create a poll</span>
          </span>
        </span>
      </a>

      <a
        href="/signup/"
        class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-500 bg-opacity-60 hover:bg-opacity-70 sm:px-8"
      >
        Sign up
      </a>
    </div>
  </div>
</div>
