<div class="flex-auto dark:bg-gray-900 pt-10">
  <div class="relative">
    <div class="max-w-7xl mx-auto px-4 lg:px-8">
      <div
        class="relative shadow-xl rounded-2xl overflow-hidden bg-indigo-50 dark:bg-gray-900"
      >
        <div class="dark:hidden dark:sm:block absolute inset-0">
          <img
            class="h-full w-full object-cover"
            src="https://cdn.strawpoll.com/images/stock/index-splash.jpg"
            alt="StrawPoll Splash Image"
          />
          <div
            class="absolute inset-0 bg-gradient-to-r from-purple-800 to-indigo-700 dark:from-gray-700 dark:to-gray-600 mix-blend-multiply"
          ></div>
        </div>
        <div
          class="relative px-4 py-16 sm:px-6 sm:py-24 lg:pt-28 lg:pb-32 lg:px-8"
        >
          <h1
            class="text-center sm:text-left text-5xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl sm:ml-12"
          >
            <span class="block text-white">Create a poll</span>
            <span class="block text-indigo-300">in seconds</span>
          </h1>
          <p
            class="mt-6 max-w-sm mx-auto sm:ml-12 text-center sm:text-left text-lg sm:text-xl text-indigo-200 sm:max-w-2xl"
          >
            Want to ask your friends where to go friday night or arrange a
            meeting with co-workers? Create a poll - and get answers in no time.
          </p>
          <div
            class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-begin"
          >
            <div class="sm:ml-12 grid grid-cols-1 sm:grid-cols-2 gap-6">
              <a
                href="/create/"
                class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-3 text-base font-medium text-indigo-700 shadow-sm hover:bg-indigo-50 sm:px-8"
              >
                Create a poll
              </a>
              <a
                href="/demo/"
                class="flex items-center justify-center rounded-md border border-transparent bg-indigo-500 bg-opacity-60 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-opacity-70 sm:px-8"
              >
                Live Demo
              </a>
            </div>
          </div>
          <div class="hidden sm:block ml-12 text-sm mt-4 text-indigo-200">
            No signup required
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="max-w-7xl mx-auto pt-12 pb-16 px-4 sm:px-6 lg:px-8">
      <p
        class="text-center text-sm font-semibold uppercase text-gray-500 tracking-wide"
      >
        Trusted by over 1,500,000 users worldwide
      </p>
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 h-1/2"></div>
          <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="max-w-3xl mx-auto">
              <dl
                class="rounded-lg sm:grid sm:grid-cols-3 sm:divide-x divide-gray-300 dark:divide-gray-700"
              >
                <div class="flex flex-col p-5 text-center">
                  <dt
                    class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500"
                  >
                    Users
                  </dt>
                  <dd
                    class="order-1 text-4xl font-extrabold text-indigo-500 dark:text-indigo-400"
                  >
                    1.5M+
                  </dd>
                </div>
                <div class="flex flex-col p-5 text-center">
                  <dt
                    class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500"
                  >
                    Polls
                  </dt>
                  <dd
                    class="order-1 text-4xl font-extrabold text-indigo-500 dark:text-indigo-400"
                  >
                    11M+
                  </dd>
                </div>
                <div class="flex flex-col p-5 text-center">
                  <dt
                    class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500"
                  >
                    Votes
                  </dt>
                  <dd
                    class="order-1 text-4xl font-extrabold text-indigo-500 dark:text-indigo-400"
                  >
                    260M+
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative pt-16 pb-32 overflow-hidden bg-gray-50 dark:bg-gray-800">
    <div class="relative">
      <div
        class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
      >
        <div
          class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0"
        >
          <div>
            <div>
              <span
                class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 dark:bg-indigo-500"
              >
                <svg
                  class="h-6 w-6 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M10.5 6C6.35786 6 3 9.35786 3 13.5C3 17.6421 6.35786 21 10.5 21C14.6421 21 18 17.6421 18 13.5H10.5V6Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M13.5 10.5H21C21 6.35786 17.6421 3 13.5 3V10.5Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </div>
            <div class="mt-6">
              <h2
                class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200"
              >
                Use our advanced poll maker
              </h2>
              <p class="mt-4 text-lg text-gray-500">
                A straw poll is a voting that can be used to help people to
                easily determine the opinion of a group or the public on some
                issue. Straw polls are very useful when only the majority
                opinion is important and not the opinion of each individual
                participant.
              </p>
              <div class="mt-6">
                <a
                  href="/create/"
                  class="inline-flex justify-center items-center border border-transparent rounded-md shadow-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-offset-gray-800 px-4 py-3 text-base"
                >
                  <span class="relative flex items-center justify-center">
                    <span class="flex items-center">
                      <span>Create a poll</span>
                    </span>
                  </span>
                </a>

                <a
                  href="/polls/eNg6RNDvjgA"
                  class="inline-flex justify-center bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm font-medium text-gray-900 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 ml-3 px-4 py-3 text-base"
                >
                  <span class="relative flex items-center justify-center">
                    <span class="flex items-center">
                      <span>View example</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div
            class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full"
          >
            <img
              loading="lazy"
              class="block dark:hidden w-full rounded-xl shadow-xl ring-1 ring-gray-300 dark:ring-gray-700 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
              src="https://cdn.strawpoll.com/images/screenshots/index-screen-poll-maker-c.png"
              alt="Poll screenshot (light)"
            />
            <img
              loading="lazy"
              class="hidden dark:block w-full rounded-xl shadow-xl ring-1 ring-gray-300 dark:ring-gray-700 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
              src="https://cdn.strawpoll.com/images/screenshots/index-screen-poll-maker-dark-c.png"
              alt="Poll screenshot (dark)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div
        class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
      >
        <div
          class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"
        >
          <div>
            <div>
              <span
                class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 dark:bg-indigo-500"
              >
                <svg
                  class="h-6 w-6 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M6.75 3V5.25M17.25 3V5.25M3 18.75V7.5C3 6.25736 4.00736 5.25 5.25 5.25H18.75C19.9926 5.25 21 6.25736 21 7.5V18.75M3 18.75C3 19.9926 4.00736 21 5.25 21H18.75C19.9926 21 21 19.9926 21 18.75M3 18.75V11.25C3 10.0074 4.00736 9 5.25 9H18.75C19.9926 9 21 10.0074 21 11.25V18.75"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </div>
            <div class="mt-6">
              <h2
                class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-200"
              >
                Schedule your meetings in no-time
              </h2>
              <p class="mt-4 text-lg text-gray-500">
                StrawPoll Meetings is a great and simple tool to schedule
                meetings and other times with clients, colleagues or friends. A
                meeting poll is very helpful in situations where the opinion of
                each individual participant is important.
              </p>
              <div class="mt-6">
                <a
                  href="/meetings/"
                  class="inline-flex justify-center items-center border border-transparent rounded-md shadow-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-600 dark:focus:ring-offset-gray-800 px-4 py-3 text-base"
                >
                  <span class="relative flex items-center justify-center">
                    <span class="flex items-center">
                      <span>Schedule a meeting</span>
                    </span>
                  </span>
                </a>

                <a
                  href="/polls/kogjvr2m2g6"
                  class="inline-flex justify-center bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm font-medium text-gray-900 dark:text-gray-300 hover:bg-gray-50 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 dark:focus:ring-offset-gray-800 ml-3 px-4 py-3 text-base"
                >
                  <span class="relative flex items-center justify-center">
                    <span class="flex items-center">
                      <span>View example</span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div
            class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full"
          >
            <img
              loading="lazy"
              class="block dark:hidden w-full rounded-xl shadow-xl ring-1 ring-gray-300 dark:ring-gray-700 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
              src="https://cdn.strawpoll.com/images/screenshots/index-screen-meeting-scheduler3-c.png"
              alt="Meeting screenshot (light)"
            />
            <img
              loading="lazy"
              class="hidden dark:block w-full rounded-xl shadow-xl ring-1 ring-gray-300 dark:ring-gray-700 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
              src="https://cdn.strawpoll.com/images/screenshots/index-screen-meeting-scheduler3-dark-c.png"
              alt="Meeting screenshot (dark)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
